{% load static %}
{% load custom_tags %}


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


<div class="split left">
<!--    <img src="{% static 'images/zip.png' %}" alt="zip.com" width="100" height="100" />-->
<!--    <img src="{% static 'images/vodafone.png' %}" alt="vodafone" width="200" height="75"/>-->
    <img src="{% static 'images/cba.png' %}" alt="cba" width="50" height="50"/>
<!--    <img src="{% static 'images/wooliesx.png' %}" alt="wooliesx" width="200" height="75"/>-->
    <form method="get" class="item-row-logo">
        <div class="flexbox-logo">
            <span class="flex-title-logo">QA Automation Portal</span>
            <input class="btn-main-logo btn-run" value="Clear results" type="submit" name="clear">
            <input class="btn-main-logo" value="Execute all tests" type="submit" name="runall">
        </div>
     </form>
    <div class="center-column">
        {% for task in tasks %}
        <form method="get" class="item-row-main item-row-test {% if task.active == True %} item-row-active {% endif %}">
            <div class="flexbox">
                <span class="flex-title">{{task.title}}</span>
                {% if task.result == "" %}
                    <input class="btn-main btn-run" value="Execute" type="submit" name="{{task.test_name}}">
                {% elif task.result == "Pass" %}
                    <input class="btn-main btn-run btn-pass" value="{{task.result}}" type="submit" name="{{task.test_name}}">
                {% else %}
                    <input class="btn-main btn-run btn-fail" value="{{task.result}}" type="submit" name="{{task.test_name}}">
                {% endif %}
                <div>
                    <input class="btn-main btn-run" value="Log" type="submit" name="{{task.test_name}}Log">
                </div>

            </div>
        </form>
        {% endfor %}
    </div>
</div>

<div class="split right">
    <div class="center-column">
        <h4>{{test_result.title}}</h4>
        <hr class="split-title">
            <div class="log-details {% if test_result.result == 'Fail' %} log-details-fail {% endif %}">
                {% for log in test_result.log|split_value %}
                    <p>{{log}}</p>
                {% endfor %}
            </div>
    </div>
</div>
